@{
    ViewBag.Title = "Inventory QC";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Scripts.Render("~/Scripts/INVENTORY/InventoryQC/InvQCSettings.js")

<div class="row">
    <div id="divQCSummary" class="col-lg-12">
        @Html.Partial("../INVENTORY/InventoryQC/_InvQCSummary")
    </div>
    <div id="divQCDetails" class="col-lg-12 displayNone">
        @Html.Partial("../INVENTORY/InventoryQC/_InvQCDetails")
    </div>
</div>

<div class="displayNone" id="popupPISearch">
    @Html.Partial("../INVENTORY/InventoryQC/_PIListSearch")
</div>
<div class="displayNone" id="popupROrRCause">
    @Html.Partial("../INVENTORY/InventoryQC/_RejectOrReturnCause")
</div>
<div class="displayNone" id="popupConsignmentList">
    @Html.Partial("../INVENTORY/InventoryQC/_ConsignmentList")
</div>
