@{ string jsVer = @System.Configuration.ConfigurationManager.AppSettings["JSVer"];}
@Scripts.Render("~/Scripts/MERCHN/POInfo/POAcknowledgement/PODetailsAcknowledgement.js?" + @jsVer)
@Scripts.Render("~/Scripts/MERCHN/POInfo/POAcknowledgement/StyleSummary.js?" + @jsVer)
<style>
   

    input[type=text]:disabled {
        background: #ffffff;
        font-weight: bold;
        color:#000000;
    }
</style>
<div class="row">
    <div class="col-md-12 col-xs-12">
        <div class="bs-example">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-8 col-xs-12" style="padding-right: 1px;">
                        <ul id="pnlPOInfo">
                            <li class="k-state-active" id="liBuyerPnl">
                                PO INFORMATION ENTRY
                                <div id="divBuyerPnl">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <input type="hidden" id="hdnPOId" value="00000000-0000-0000-0000-000000000000" />
                                            <div class=" col-md-1 ">
                                                <button id="btnClose" class="k-button-danger" style="float: right;"><i class="fa fa-backward" style="margin-right: 4px;"></i>Back</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="spacer5"></div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div id="grdStyleSummary"></div>
                                        </div>
                                    </div>
                                    <div class="spacer5"></div>
                                </div>
                            </li>
                            <li class="k-state-active">
                                PO DETAILS
                                <div>
                                    <div class="spacer5"></div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-horizontal">
                                                        <div class="form-group">
                                                            <label class="col-md-4 col-xs-4 control-label" for="cmbPOType">PO Type:</label>
                                                            <div class="col-md-7 col-xs-7 ">
                                                                <input type="text" style="width: 100%; height: 28px;" name="cmbPOType" id="cmbPOType" disabled="disabled" />

                                                            </div>


                                                        </div>
                                                        <div class="form-group displayNone" id="divParentPO">
                                                            <label class="col-md-4 col-xs-4 control-label" for="cmbParentPO">Master PO:</label>
                                                            <div class="col-md-7 col-xs-7 ">
                                                                <input type="text" style="width: 100%; height: 28px;" name="cmbParentPO" id="cmbParentPO" />
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-md-4 col-xs-4 control-label" for="txtPONo">PO No.:</label>
                                                            <div class="col-md-7 col-xs-7 ">
                                                                <label type="text" class="form-control" style="width: 100%; height: 28px;text-align: left;" name="txtPONo" id="txtPONo" disabled="disabled"></label>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-md-4 col-xs-4 control-label" for="cmbCountry">Ship Country:</label>
                                                            <div class="col-md-7 col-xs-7 ">
                                                                <input type="text" style="width: 100%; height: 28px;" name="cmbCountry" id="cmbCountry" disabled="disabled" />
                                                            </div>


                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-horizontal">
                                                        <div class="form-group">
                                                            <label class="col-md-4 col-xs-4 control-label" for="txtReceiveDate">Receive Data:</label>
                                                            <div class="col-md-7 col-xs-7 ">
                                                                <input type="text" style="width: 100%; height: 28px;" name="txtReceiveDate" id="txtReceiveDate" disabled="disabled" />
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-md-4 col-xs-4 control-label" for="txtShipmentDate">Ship Date:</label>
                                                            <div class="col-md-7 col-xs-7 ">
                                                                <input type="text" style="width: 100%; height: 28px;" name="txtShipmentDate" id="txtShipmentDate" disabled="disabled" />
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-md-4 col-xs-4 control-label" for="cmbLeadTime">Lead Time:</label>
                                                            <div class="col-md-7 col-xs-7 ">
                                                                <input type="text" style="width: 100%; height: 28px;" name="cmbLeadTime" id="cmbLeadTime" disabled="disabled" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-4">
                                                    <div class="form-horizontal">
                                                        <div class="form-group">
                                                            <label class="col-md-4 col-xs-4 control-label" for="cmbShipmentMode">Ship Mode:</label>
                                                            <div class="col-md-7 col-xs-7 ">
                                                                <input type="text" style="width: 100%; height: 28px;" name="cmbShipmentMode" id="cmbShipmentMode" disabled="disabled" />
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-md-4 col-xs-4 control-label" for="txtCuttoffDate">Cuttoff Date:</label>
                                                            <div class="col-md-7 col-xs-7 ">
                                                                <input type="text" style="width: 100%; height: 28px;" name="txtCuttoffDate" id="txtCuttoffDate" disabled="disabled" />
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-md-4 col-xs-4 control-label" for="txtOrderQty">Order Qty:</label>
                                                            <div class="col-md-7 col-xs-7 ">
                                                                <input type="text" style="width: 100%; height: 28px;" name="txtOrderQty" id="txtOrderQty" disabled="disabled" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="spacer5"></div>
                                </div>
                            </li>

                            <li class="k-state-active">
                                COLOR & SIZE BREAKDOWN
                                <div>
                                    <div class="spacer5"></div>
                                    @Html.Partial("../MERCHN/POInfo/POAcknowledgement/_ColorAndSizeInfoAcknowledgement")
                                </div>
                            </li>
                            <li class="k-state-active">
                                <div class="spacer5"></div>

                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4 col-xs-12" style="padding-left: 1px;padding-right: 1px; ">
                        @Html.Partial("../MERCHN/POInfo/POAcknowledgement/_POHistorySummaryAcknowledgement")
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div>
                    @Html.Partial("../MERCHN/POInfo/POAcknowledgement/_ApproveRejection")
                </div>
            </div>
        </div>
    </div>
</div>