@{
    ViewBag.Title = "Back To Back Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Dashboard/DashboardMain.css" rel="stylesheet" />
<style type="text/css">
    .ob-center {
        text-align: center !important;
    }

    .k-content {
        background-color: white !important;
    }

    .k-tabstrip > .k-content {
        display: none;
        overflow: hidden;
    }

    tbody tr:hover {
        cursor: pointer;
    }
</style>
@Scripts.Render("~/Scripts/COMMERCIAL/ComBackToBackLC/BackToBackSettings.js")
@Scripts.Render("~/Scripts/COMMERCIAL/ComBackToBackLC/ProformaInvoiceSummary.js")
@Scripts.Render("~/Scripts/COMMERCIAL/ComBackToBackLC/BackToBackDetails.js")
@Scripts.Render("~/Scripts/COMMERCIAL/ComBackToBackLC/BackToBackAmendment.js?")
<link href="~/Scripts/NewsTicker/ticker-style.css" rel="stylesheet" />
<script src="~/Scripts/NewsTicker/jquery.ticker.js"></script>
<div class="row">
    <div class="col-md-12 col-xs-12">

        <div class="form-group">
            <div class="form-group col-md-3">
                <label class="col-md-4 col-xs-4 control-label" for="lblSearchBBLC" id="lblSearchBBLC" style="font-weight: bold; color: blue; width: fit-content;">BBLC ID:</label>
                <div class="col-md-7 col-xs-7 control-label">
                    <div class="input-group add-on ">
                        <input type="text" placeholder="BBLC Id" class="form-control txt" autocomplete="off" name="txtSearchBBLC" id="txtSearchBBLC" disabled />
                        <div class="input-group-btn">
                            <button class="btn btn-xs btn-info" style="height: 22px;" type="button" id="btnSearchBBLC"><i class="glyphicon glyphicon-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div style="text-align: right;">
                <button id="btnSave" class="k-button-success"><i class="fa fa-save"></i>Save</button>
                <button id="btnClearAll" class="k-button-danger"><i class="glyphicon glyphicon-repeat"></i>Clear</button>
            </div>
        </div>
    </div>


</div>
<div id="includedContent">
    <div id="bodyTab">
        <ul>
            <li id="tabContact" class="k-state-active">
                <b>BBLC</b>
            </li>

            <li id="tabDoc">
                <b id="tabOthers2">Document</b>
            </li>
            <li id="tabAmn">
                <b>LC Openning/Amendment Charge</b>
            </li>
        </ul>
        <div class="col-md-12 displayNone" id="divBackToBack">
            @Html.Partial("../COMMERCIAL/ComBackToBackLC/_BackToBackDetails")
        </div>

        <div class="col-md-12 displayNone" id="divDocuments">
            <div class="panel-body">
                <div class="row" @*style="margin-top: 1px;"*@>
                    <div class="col-md-12 col-xs-12">
                        @Html.Partial("../COMMERCIAL/ComBackToBackLC/_UploadDocument")
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 displayNone" id="divAmn">
            <div id="divAmendment">
                <div class="well well-sm" style="text-align: center;">
                    Amendment
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 col-xs-12">

                            @Html.Partial("../COMMERCIAL/ComBackToBackLC/_BackToBackAmendment")

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

